@model List<HoaTuoi.Models.EF.LoiNhuan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-box {
        margin: 10px 0 0 0;
        width: 50px;
    }

    #id_loai {
        width: 100%;
        height: 30px;
    }

    #so_luong {
        width: 100%;
        height: 30px;
    }
    table{
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        align-content: center;
    }

    th {
        height: 50px;
    }
</style>
<div class="main-body">
    <div class="feed">
        <div class="feedback" style="display: block; margin-bottom: 20px; padding: 0px 0px 80px 0px;">
            @*Mời chọn ngày:<br />
                <input type="datetime-local" id="ngayXuat" name="ngayXuat">*@

            @*<input id="btnLoiNhuan" type="button" value="Tính Lợi Nhuận" />*@
        </div>
    </div>
    <div id="pLoiNhuan">
        <table>
            Danh sách loại quả
            <thead>
                <tr>
                    <th>ID Loại</th>
                    <th>Tên Loại</th>
                    <th>Ngày Xuất</th>
                    <th>Số Lượng( Quả)</th>
                    <th>Giá Nhập( VNĐ)</th>
                    <th>Giá Xuất( VNĐ)</th>
                    <th>Tổng Giá Vốn( VNĐ)</th>
                    <th>Tổng Tiền Xuất( VNĐ)</th>
                    <th>Lợi Nhuận( VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id_loai</td>
                        <td>@item.ten_loai</td>
                        <td>@item.ngay_xuat</td>
                        <td>@item.so_luong</td>
                        <td>@item.gia_nhap</td>
                        <td>@item.gia_xuat</td>
                        <td>@item.tong_tien_nhap</td>
                        <td>@item.tong_tien_xuat</td>
                        <td>@item.tien</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnLoiNhuan').click(function () {
            $.ajax({
                url: '/LoiNhuan/LoiNhuanLoaiQua',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#pLoiNhuan').empty().append(data);
                }
            });
        })
    });
</script>